.header__lang-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;

    display: block;
}

@media screen and (max-width: 767px)  {
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}