.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;

    max-width: 1184px;
    max-height: 671px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .photo-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 14px;
        column-gap: 14px;
        max-width: 928px;
        max-height: 942px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid{
        margin-top: 88px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
        max-width: 720px;
        max-height: 1664px;
    }
}

@media screen and (max-width: 768px)  {
    .photo-grid{
        margin-top: 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        row-gap: 12px;
        max-width: 288px;
        max-height: 2724px;
    }
}