.places {
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .places {
        margin-top: 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin-top: 64px;
        max-width: 320px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin-left: 0;
        margin-right: 0;
    }
}