.place-container__place{
    display: grid;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: max-content max-content;
    border-width: 0;
    margin-top: 80px;
}

.place-container__place:first-of-type{
    margin-top: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place-container__place{
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place-container__place{
        grid-template-columns: 340px 1fr;
        margin-top: 73px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 768px)  {
    .place-container__place{
        margin-top: 50px;
        row-gap: 32px;
        grid-template-columns: 320px;
        grid-template-rows: max-content max-content max-content max-content;
    }
}