.place-container__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    /* or 106% */
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place-container__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place-container__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place-container__title {
        font-size: 32px;
        width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .place-container__title {
        line-height: 35px;
    }
}