.intro__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    max-width: 690px;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 0;
    margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__list {
        max-width: 720px;
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin-top: 34px;
        margin-bottom: 0;
    }
}