.place-container__website{
    align-self: end;
}

@media screen and (max-width: 320px) {
    .place-container__website{
        width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}