.lead{
    display: flex;
    flex-direction: column;
    width: fit-content;

    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

@media screen and (min-width: 1281px) {
    .lead{
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead{
        margin-top: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead{
        margin-top: 48px;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead{
        margin-top: 48px;
    }
}

@media screen and (max-width: 424px)  {
    .lead{
        margin-top: 48px;
    }
}