.cover__subtitle{
    position: relative;
    width: 360px;
    height: 66px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: center;

    color: #FFFFFF;

    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px)  {
    .cover__subtitle{
        margin-top: 16px;
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
    }
}