.cover__subtitle {
    position: relative;
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin-top: 16px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}