.header__lang-link_activated{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;

    display: block;
    text-decoration: underline;
}

.header__lang-link_activated:not(:last-child){
    margin-right: 18px;
}

@media screen and (max-width: 767px)  {
    .header__lang-link_activated{
        font-size: 18px;
        line-height: 20px;
    }
}