.header{
    display: flex;
    flex-direction: row;

    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header{
        width: 1184px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header{
        width: auto;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header{
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    .header{
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 424px)  {
    .header{
        margin-top: 16px;
        width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}