.lead__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (min-width: 768px) {
    .lead__title {
        width: 720px;
        font-size: 96px;
        line-height: 100px;
    }
}