.lead__subtitle {
    width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}