.cover{
    width: 1184px;
    height: 740px;

    background: url(../../images/cover-trains.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1280px){
    .cover{
        max-width: 1184px;
        max-height: 740px;
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover{
        max-width: 1024px;
        max-height: 640px;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover{
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        max-height: 640px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .cover{
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        max-height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px)  {
    .cover{
        margin-top: 66px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        max-height: 320px;
    }
}

@media screen and (max-width: 320px)  {
    .cover{
        margin-top: 66px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        max-height: 200px;
    }
}