.cover__overlay {
    width: 100%;
    background: rgba(42, 44, 47, 0.3);
    animation: fadeOut 1s ease-in-out 0s;
    animation-fill-mode: forwards;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__overlay:hover {
    animation: fadeIn 1s ease-in-out 0s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        background: rgba(42, 44, 47, 0.3);
    }
    to {
        background: rgba(42, 44, 47, 0.8);
    }
}

@keyframes fadeOut {
    from {
        background: rgba(42, 44, 47, 0.8);
    }
    to {
        background: rgba(42, 44, 47, 0.3);
    }
}